.row
  .large-12.columns
    %h3 Memory Workout Program
    %p A series of mental challenges to exercise different aspects of your memory.  Each of the games is manually adjustable in terms of difficulty, so you can just right amount of a memory workout.
    =render @workouts