.article[article]
  .head
    =link_to '/brain-articles/'+article.category.slug+'/'+article.slug do
      =article.title
  %p=article.body.truncate(75)
  .meta
    =article.created_at.strftime("%m/%d/%Y")
    in
    =link_to article.category.title, '/brain-articles/'+article.category.slug
