-content_for :head do
  %title #{@article.title} | Games, Puzzles, Brainteasers & IQ Tests
  %meta{:content => @article.title, :property => "og:title"}
  %meta{:content => "PlayWithYourMind | Brain Games & Mind Puzzles", :property => "og:site_name"}
  %meta{:content => image_url('brain-games.png'), :property => "og:image"}
  %meta{:content => @article.body.truncate(144), :property => "og:description"}
  %meta{:content => @article.title, :property => "twitter:title"}
  %meta{:content => "PlayWithYourMind | Brain Games & Mind Puzzles", :property => "twitter:site"}
  %meta{:content => image_url('brain-games.png'), :property => "twitter:image"}
  %meta{:content => @article.body.truncate(144), :property => "twitter:description"}
  %meta{:content => "summary", :property => "twitter:card"}
  %meta{:content => "#{@article.title} | PlayWithYourMind", :property => "title"}
  %meta{:property => "description", :content => @article.body.truncate(144)}

.row
  .large-8.columns
    %h4=link_to @category.title, '/brain-articles/'+@category.slug
    =render :partial => @article.template.gsub('-','_')
    #comments{:style=>'margin-top: 25px;'}
      %h6 Comments
      .comments
        = render :partial => 'comments/comment', :collection => @comments, :as => :comment
      -if user_signed_in?
        = render :partial => 'comments/form', :locals => { :comment => @new_comment }
  .large-4.columns
    .panel{:style=>'background-color:#F9F08A;margin-top: 10px;'}
      %h5  Watching the Debates Tonight?
      %p<
        Be among the first to experience our
        %b live debate fantasy games

        ! In
        =link_to "Fantasy Debates", "http://www.presidentialelectiongames.com/2016/games/fantasy-debates"
        , you select a roster of topics and score points each time they are used during debates.  You can also created an automated
        =link_to "debate bingo", "http://www.presidentialelectiongames.com/2016/games/debate-bingo"
        card that fills in as candidates say thngs. In either game, you can play against friends, or the world.