.contain-to-grid.fixed
  %nav.top-bar{"data-topbar" => "", :role => "navigation"}
    %ul.title-area
      %li
        %h1
          .hide-for-small
            %i.fi-star{:style=>"font-size: 30px;position:relative;top:3px;  margin-right: 4px;margin-left: 8px;"}
            =link_to 'PlayWithYourMind', root_path
          .show-for-small-only
            =link_to root_path do
              %i.fi-star{:style=>"font-size: 30px;position:relative;top:3px;  margin-right: 4px;margin-left: 8px;"}
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span Menu
    %section.top-bar-section
      %ul.left
        %li.divider
        %li.has-dropdown
          %a{:href => "/brain-games"} Games & Puzzles
          %ul.dropdown.m-menu
            %li
              .row.column.padless
                .large-4.medium-6.small-12.columns.padless
                  =link_to "#", :class=>"dropdown-header" do
                    %h3 Brain Games
                  %ul
                    -GameCategory.all.order(id: :asc).each do |gc|
                      %li=link_to gc.title, '/brain-games/'+gc.slug
                .large-4.medium-6.small-12.columns.padless
                  =link_to "#", :class=>"dropdown-header" do
                    %h3 Puzzles
                  %ul
                    -PuzzleCategory.all.order(id: :asc).each do |p|
                      %li=link_to p.title, '/puzzles-brainteasers/'+p.slug
                .large-4.medium-6.small-12.columns.padless
                  =link_to "#", :class=>"dropdown-header" do
                    %h3 Brainteasers
                  %ul
                    -GameCategory.all.order(id: :asc).each_with_index do |gc,value|
                      %li=link_to ("Brainball #"+value.to_s), "#"
        %li.divider
        %li.has-dropdown
          %a{:href => "/brain-fitness-program"} Brain Training
          %ul.dropdown.m-menu
            %li
              .row.column.padless
                .large-6.medium-6.small-12.columns.padless
                  =link_to "#", :class=>"dropdown-header" do
                    %h3 Brain Fitness Exercises
                  %ul
                    -ExerciseCategory.all.order(id: :asc).each do |gc|
                      %li=link_to gc.title, '/brain-fitness-games/'+gc.slug
                .large-6.medium-6.small-12.columns.padless
                  =link_to "#", :class=>"dropdown-header" do
                    %h3 Memory Workout
                  %ul
                    -PuzzleCategory.all.order(id: :asc).each do |p|
                      %li=link_to p.title, '/puzzles-brainteasers/'+p.slug
        %li.divider
        %li.has-dropdown
          %a{:href => "/brain-fun"} Brainy Fun
          %ul.dropdown.m-menu
            %li
              .row.column.padless
                .large-3.medium-6.small-12.columns.padless
                  =link_to "#", :class=>"dropdown-header" do
                    %h3 News/Articles
                  %ul
                    -GameCategory.all.order(id: :asc).each do |gc|
                      %li=link_to gc.title, '/brain-games/'+gc.slug
                .large-3.medium-6.small-12.columns.padless
                  =link_to "#", :class=>"dropdown-header" do
                    %h3 Games/Puzzles
                  %ul
                    -PuzzleCategory.all.order(id: :asc).each do |p|
                      %li=link_to p.title, '/puzzles-brainteasers/'+p.slug
                .large-3.medium-6.small-12.columns.padless
                  =link_to "#", :class=>"dropdown-header" do
                    %h3 Optical Illusions
                  %ul
                    -PuzzleCategory.all.order(id: :asc).each do |p|
                      %li=link_to p.title, '/puzzles-brainteasers/'+p.slug
                .large-3.medium-6.small-12.columns.padless
                  =link_to "#", :class=>"dropdown-header" do
                    %h3 Sensory Tests
                  %ul
                    -PuzzleCategory.all.order(id: :asc).each do |p|
                      %li=link_to p.title, '/puzzles-brainteasers/'+p.slug
      %ul.right
        -if user_signed_in?

          %li.divider
          %li.has-dropdown.small-dropdown
            =link_to current_user.username, user_path(current_user.username)
            %ul.dropdown.m-menu
              %li
                %ul
                  %li=link_to "logout", destroy_session_path(:user), :method => :delete
        -else
          %li
            %a{"data-reveal-id" => "login", :href => "#"} Login
          %li
            =link_to 'Signup', new_user_registration_path
  #mobile-login.show-for-small-only
    %ul
      -if user_signed_in?

      -else
        %a{"data-reveal-id" => "login", :class=>'button tiny',:href => "#"} Login
        =link_to 'Signup', new_user_registration_path, :class=>'button tiny'
