-content_for :head do
  %title Play With Your Mind | Brain Games and Puzzles for Mental Fitness
  %meta{:content => "Play With Your Mind | Brain Games and Puzzles for Mental Fitness", :property => "og:title"}
  %meta{:content => "PlayWithYourMind | Brain Games & Mind Puzzles", :property => "og:site_name"}
  %meta{:content => image_url('brain-games.png'), :property => "og:image"}
  %meta{:content => "100+ orignal games, puzzles, iq tests to help you sharpen your brain and play with your mind.", :property => "og:description"}
  %meta{:content => "Play With Your Mind | Brain Games and Puzzles for Mental Fitness", :property => "twitter:title"}
  %meta{:content => "PlayWithYourMind | Brain Games & Mind Puzzles", :property => "twitter:site"}
  %meta{:content => image_url('brain-games.png'), :property => "twitter:image"}
  %meta{:content => "100+ orignal games, puzzles, iq tests to help you sharpen your brain and play with your mind.", :property => "twitter:description"}
  %meta{:content => "summary", :property => "twitter:card"}
  %meta{:content => "Play With Your Mind | Brain Games and Puzzles for Mental Fitness", :property => "title"}
  %meta{:property => "description", :content => "100+ orignal games, puzzles, iq tests to help you sharpen your brain and play with your mind."}
.row
  .large-12.columns
    %h1.welcome Play games, puzzles and brainteasers. Orignal, fun & free!
    .wrap
      .like-column

        .fb-like-box{"data-header" => "fase", "data-height" => "115", "data-href" => "http://www.facebook.com/pages/PlayWithYourMindcom/111779804933", "data-show-faces" => "false", "data-stream" => "false", "data-width" => "170", :style => "margin-left:-15px;"}
      .message-column
        %p Play With Your Mind features over 100 original mind games, brain puzzles, brain teasers and IQ tests. If you haven't yet heard, playing brain games exercises your cognitive abilities and can improve your brain fitness. So take some time to explore around, play some games, have some fun ... and become smarter in the process.

    .row

      .large-8.medium-7.columns.hide-for-small
        %h4.bold Play with your mind:
        %ul.main-sections
          %li
            %h4=link_to "Brain Games","/brain-games/"
          %ul.sub-section
            %li=link_to "word games","/brain-games/word-games/"
            %li=link_to "logic games","/brain-games/logic-games/"
            %li=link_to "math games","/brain-games/math-games/"
            %li=link_to "card games","/brain-games/math-games/"
            %li=link_to "all>",""
          %li
            %h4=link_to "Brain Training","/brain-fitness-games/"
          %ul.sub-section
            %li=link_to "attention","/brain-fitness-games/attention-focus-exercises/"
            %li=link_to "memory","/brain-fitness-games/memory-exercises/"
            %li=link_to "visual-spatial","/brain-fitness-games/visual-spatial-exercises/"
            %li=link_to "numeric","/brain-fitness-games/number-exercises/"
            %li=link_to "all>","/brain-fitness-games/"
          %li
            %h4=link_to "Puzzles & Brainteasers","/puzzles-brainteasers/"
          %ul.sub-section
            %li=link_to "word tease","/puzzles-brainteasers/word-tease/"
            %li=link_to "word toggle","/puzzles-brainteasers/word-toggle/"
            %li=link_to "word grid","/puzzles-brainteasers/word-grid/"
            %li=link_to "blankout","/puzzles-brainteasers/blankout/"
          %li
            %h4=link_to "Memory Workout Program","/memory-workout-program/"
          %ul.sub-section
            %li=link_to "object","/memory-workout-program/object-memory-game"
            %li=link_to "spatial","/memory-workout-program/spatial-memory-game"
            %li=link_to "association","/memory-workout-program/colorcodes"
            %li=link_to "order","/memory-workout-program/word-order-game"
            %li=link_to "all>","/memory-workout-program/"
          %li
            %h4=link_to "Brainy Links",posts_path
          %ul.sub-section
            %li=link_to "brainteasers","/brain-fun/tags/brainteasers"
            %li=link_to "mind games","/brain-fun/tags/brain-games"
            %li=link_to "optical illusions","/brain-fun/tags/optical-illusions"
            %li=link_to "iq tests","/brain-fun/tags/iq-tests"
          %li
            %h4=link_to "Articles","/brain-articles"
          %ul.sub-section
            %li=link_to "brain fitness tips","/brain-articles/brain-fitness-tips/"
            %li=link_to "neuroscience","/brain-articles/neuroscience/"
            %li=link_to "brain training","/brain-articles/brain-fitness-news"
            %li=link_to "reviews","/brain-articles/reviews/"
      .large-4.medium-5.columns.hide-for-small

        %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
        / pwym home center
        %ins.adsbygoogle{"data-ad-client" => "ca-pub-1203319491225179", "data-ad-format" => "rectangle", "data-ad-slot" => "1758393027", :style => "display:block"}
        :javascript
          (adsbygoogle = window.adsbygoogle || []).push({});

    %hr

    %h4.bold Newest content

    .row

      .large-7.columns
        %h4 Brainy Links
        =render Post.all.limit(10).order(created_at: :desc)
      .large-5.columns
        %h4 Articles
        =render Article.where.not(:category_id=>3).limit(5).order(created_at: :desc)
        %h4 Site Updates
        =render Article.where(:category_id=>3).limit(5).order(created_at: :desc)
