.row
  .large-12.columns
    %h3 Licensing Games
    %p All the games you see here are available for licensing. If you have a website or brain fitness program that might benefit from the inclusion of one of my games, contact me and we can discuss possibilities. Rates and terms depend on the nature of your project and the size of your audience. In the case of websites supported by ads, I am open to revenue-sharing arrangements in exchange for providing content.