-content_for :head do
  %title Privacy Policy | Play With Your Mind

.row
  .large-12.columns
    %h2 Privacy

    %h4 General policy
    %p We are not in the business of sharing your personal information with third parties.  Any info we ask for is for use on this website only.
    %h4 Info we require
    %p There is very little personal info we require for participating in the luck games. Here are the only requirements
    .row
      .large-11.large-offset-1.columns
        %h5 Email Address
        %p We ask for this to ensure that we can get in contact with you if needed.
        %h5 First name
        %p Just a basic name so we can personalize your experience.  Your name will not be shown to other users
    %h4 Optional personal info
    %p You don't have to give this to us, but if you do, it will be visible on your profile. You can provide this info to personalize your profile page.
    .row
      .large-11.large-offset-1.columns
        %h5 About
        %h5 Profile Picture
    %h4 Optional demographic info
    %p You don't have to give this to us, but if you do, we will not share it with anyone.  We request this data merely for the purposes of statistical fun so we can break down luck by country, age, etc.
    .row
      .large-11.large-offset-1.columns
        %h5 Gender
        %h5 Country
        %h5 Age

    %h4 What other users can see about you
    %p By default, other users can see your profile which contains your username, optional about/picture, and your performance stats.  Other users will also see your username and stats when viewing leaderboards.  If you do not want your stats to be publicly visible, you can toggle this in your user settings.

    %h4 Posting on Facebook
    %p You will be given an option of posting your performances and streaks on Facebook to share with your friends.  We will not do this without your explicit permission, and we will never post anything aside from what you specify.

    %h4 Use of cookies
    %p This website uses cookies to better the users experience while visiting the website. Where applicable this website uses a cookie control system allowing the user on their first visit to the website to allow or disallow the use of cookies on their computer / device. This complies with recent legislation requirements for websites to obtain explicit consent from users before leaving behind or reading files such as cookies on a user's computer / device.
    %p TCookies are small files saved to the user's computers hard drive that track, save and store information about the user's interactions and usage of the website. This allows the website, through its server to provide the users with a tailored experience within this website.
    %p TUsers are advised that if they wish to deny the use and saving of cookies from this website on to their computers hard drive they should take necessary steps within their web browsers security settings to block all cookies from this website and its external serving vendors.

    %p TThis website uses tracking software to monitor its visitors to better understand how they use it. This software is provided by Google Analytics which uses cookies to track visitor usage. The software will save a cookie to your computers hard drive in order to track and monitor your engagement and usage of the website, but will not store, save or collect personal information. You can read Google's privacy policy here for further information [ http://www.google.com/privacy.html ].
    %p TOther cookies may be stored to your computers hard drive by external vendors when this website uses referral programs, sponsored links or adverts. Such cookies are used for conversion and referral tracking and typically expire after 30 days, though some may take longer. No personal information is stored, saved or collected.

    %h4 Adverts and Sponsored Links
    %p This website may contain sponsored links and adverts. These will typically be served through our advertising partners, to whom may have detailed privacy policies relating directly to the adverts they serve.
    %P Clicking on any such adverts will send you to the advertisers website through a referral program which may use cookies and will track the number of referrals sent from this website. This may include the use of cookies which may in turn be saved on your computers hard drive. Users should therefore note they click on sponsored external links at their own risk and this website and its owners cannot be held liable for any damages or implications caused by visiting any external links mentioned.
