%object{:data => video_url('iq-tests/game4.swf'), :height => "525",:width => "450", :type => "application/x-shockwave-flash"}
  %param{:name => "movie", :value => video_url('iq-tests/game3.swf')}/
  %param{:name => "quality", :value => "high"}/