%object{:data => video_url('iq-tests/game3.swf'), :height => "460",:width => "600", :type => "application/x-shockwave-flash"}
  %param{:name => "movie", :value => video_url('iq-tests/game3.swf')}/
  %param{:name => "quality", :value => "high"}/