#timer
-puts game.inspect
-case game.title
  -when 'GridLogic'
    =render :partial => 'games/gridlogic'
-case game.title
  -when 'Memory'
    =render :partial => 'games/memory'
#start.button start


