-content_for :head do
  %title Online #{@category.title} | PlayWithYourMind
  %meta{:content => "Online #{@category.title}", :property => "og:title"}
  %meta{:content => "PlayWithYourMind | Brain Games & Mind Puzzles", :property => "og:site_name"}
  %meta{:content => image_url('brain-games.png'), :property => "og:image"}
  %meta{:content => @category.description, :property => "og:description"}
  %meta{:content => "Online #{@category.title}", :property => "twitter:title"}
  %meta{:content => "PlayWithYourMind | Brain Games & Mind Puzzles", :property => "twitter:site"}
  %meta{:content => image_url('brain-games.png'), :property => "twitter:image"}
  %meta{:content => @category.description, :property => "twitter:description"}
  %meta{:content => "summary", :property => "twitter:card"}
  %meta{:content => "Online #{@category.title}", :property => "title"}
  %meta{:property => "description", :content => @category.description}
.row
  .large-12.columns
    %h4=link_to 'Games', '/brain-games/'
    %h3=@category.title
    %p=@category.description
    =render :partial => 'games/game_overview', :collection => @games, :as=>:game
