=form_for :post, url: posts_path do |f|
  =f.hidden_field :resource_type, :value=>'prose'

  .row#post-form
    .large-4.medium-5.columns
      %label Title
      =f.text_field :title
      %label Tag relevant keywords or topics
      #tag-list
      %input{:type => 'text', :name => 'tags', :class => 'autocomplete', :autocomplete=>'off'}
      =f.hidden_field :tag_list
      .autocomplete-options
      #post-attachments
    .large-8.medium-4.columns

      =f.text_area :body, :class =>'first-input'

  =f.submit "save", :class=>"button right"

:javascript
  $('#post_body').on('paste', function() {
      $self = $(this);
      setTimeout(function(){
          var $content = $self.val();
          var urls = new Array;
          var text = $content;
          var regexp = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;

          while (matches = regexp.exec(text))
          {
              urls.push(matches[0]);
          }
          console.log(urls);
          $.each(urls, function(index, value) {
            console.log(value);
            $.get('#{scrape_url_for_posts_path}',{url:value});
          });
      },100);

   });



